
/* Your CSS Code here. */
table,th,td{
	border:1px solid black;
	width:100vw;
}
#col-1,#col-2,#nes-2,#nes-1,#nes-3,#nes-4
{
	color:rgb(0,0,0);
}
#table-1
{
	border:1px solid black;
}
#htm
{
	background-color:black;
	color:white;
}
#first-row
{
	height:250px;
}
#second-row
{
	height:100px;
}